---
import Layout from '~/layouts/layout.astro'
import HomeFeatured from '~/components/home/featured.astro'
import { SEO } from 'astro-seo'
import site from '~/site'
import { getCollection } from 'astro:content'

const allWorksItems = await getCollection('works')
const featuredWork = allWorksItems.find((item) => item.data.featured)

export const prerender = true
---

<Layout>
  <SEO title={site.name} description={site.description} slot="head" />

  <div class="__top"></div>
  <HomeFeatured
    title={featuredWork?.data.title}
    subtitle={featuredWork?.data.subtitle}
    link={featuredWork?.data.link}
    url={`/works/${featuredWork?.slug}`}
  />
</Layout>

<style lang="scss">
  .__top {
    padding-top: calc(var(--block-spacing-vertical) * 4);
  }
</style>
